.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background-color: #1f3540;
    border: 4px solid #0f3540;
    border-radius: 10px;
    cursor: pointer;
}
img{
    height: 160px;
    width: 160px;
}

@media (max-width:768px) {

    body{
        padding:15px;
    }
    .boxes{
        height: 90px;
        width: 90px;
    }
    .container-a{
        margin: 0 20px;
    }
    img{
        height: 82px;
        width: 82px;
    }
}